<h1>PrayerRequest list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact_method</th>
            <th>Phone_number</th>
            <th>Skype_username</th>
            <th>Subject</th>
            <th>Prayer_request</th>
            <th>Ip_address</th>
            <th>Private</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for prayerRequest in prayerRequests %}
        <tr>
            <td><a href="{{ path('prayer-requests_show', { 'id': prayerRequest.id }) }}">{{ prayerRequest.id }}</a></td>
            <td>{{ prayerRequest.name }}</td>
            <td>{{ prayerRequest.email }}</td>
            <td>{{ prayerRequest.contactmethod }}</td>
            <td>{{ prayerRequest.phonenumber }}</td>
            <td>{{ prayerRequest.skypeusername }}</td>
            <td>{{ prayerRequest.subject }}</td>
            <td>{{ prayerRequest.prayerrequest }}</td>
            <td>{{ prayerRequest.ipaddress }}</td>
            <td>{{ prayerRequest.private }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('prayer-requests_show', { 'id': prayerRequest.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('prayer-requests_edit', { 'id': prayerRequest.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('prayer-requests_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
